<!DOCTYPE html>
<html lang="en">

<head>
    <%- include index/head %>
</head>

<body>
    <%- include index/header %>
    <%- include index/body %>
    <%- include index/footer %>
    <%- include index/foot %>
</body>


</html>
